/** Ana Pandey
 * Student number:A01038368 
* Using Eric Meyer Reset with some modification */
/* Stylesheet for small devices viewport less than 400px
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
/** Line Height has been changed and included in the following body selector 
body {
	line-height: 1;
}
*/

ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Eric Meyer Reset code ends*/

body {
    background-color: #E9E9E9;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #008000;
    line-height: 1.4;
}
h1 {
    font-size: 150%;
    color: #FFF;
    text-shadow: 2px 2px 2px #008000;
    margin-bottom: 25px;
}
h3 {
    font-size: 130%;
    color: #C06112;
    margin-bottom: 25px;
    font-weight: bold;
}
p {
    font-size: 1em;
}
a:active {
    color: #FFF;
}
a:hover {
    color: #C06112;
}
a:visited {
    color: #FFF;
}
header {
    width: 100%;
    height: auto;
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
}
header img {
    max-width: 100%;
    height: auto;
    margin-top: 60px;
}
nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    box-shadow: 1px 1px 1px #808080;
    background: #008000;
    display: flex;
    flex-direction: column;
}
nav ul li {
    width: 100%;
    float: left;
    list-style: none;
    padding: 12px 0px 10px 0px;
    border: 0.5px ridge darkgreen;
    background: #008000;
}
nav a {
    font-size: 1.1em;
    text-decoration: none;
    color: #FFF;
    padding: 15px 60px 10px 60px;
}
nav a:hover {
    color: #FFF;
    background-color: #B5E582;
}
footer {
    width: 100%;
    padding: 5px;
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 1px #808080;
    text-align: center;
    background: #008000;
}
footer a {
    font-size: 1.2em;
    text-decoration: none;
    color: #FFF;
}
button {
    position: fixed;
    width: 100%;
    color: #FFF;
    padding: 10px 40px 10px 0px;
    border: none;
    border-radius: 0px;
    background: #008000;
}
main {
    margin-top: 0px;
}
article {
    padding: 10%;
}
.column-box {
    width: 100%;
    box-sizing: border-box;
    float: none;
}
/* CSS3 multi-column layout for small devices */

.multi-column {
    column-count: 3;
    column-gap: 4em;
    column-width: 150px;
}
.multi-column h3 {
    break-before: avoid;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 600px;
    border-top: 1px solid grey;
    margin-bottom: 50px;
}
.flex-gallery {
    width: 100%;
    height: auto;
    margin: 10px;
}
.flex-gallery li {
    font-size: 0.8em;
}
.gallery img {
    max-width: 100%;
}
/*Hiding CSS features as it is differnt from the main topic*/

.notes {
    display: none;
}
#media {
    width: 100%;
    position: fixed;
    bottom: 42px;
    left: 60px;
}
#media a:hover {
    background-color: #B5E582;
    border: 1px solid #006400;
}
/* media icons using css sprites  */

#facebook {
    width: 50px;
    height: 50px;
    background: url("../images/media.png") 0px 0px;
    float: left;
}
#twitter {
    width: 50px;
    height: 50px;
    background: url("../images/media.png") 50px 0px;
    float: left;
}
#pinterest {
    width: 50px;
    height: 50px;
    background: url("../images/media.png") 50px -50px;
    float: left;
}
#rss {
    width: 50px;
    height: 50px;
    background: url("../images/media.png") 0px -50px;
    float: left;
}
#heading {
    margin-left: auto;
    margin-right: auto;
    padding: 12% 12% 2% 12%;
    width: 90%;
    height: auto;
    box-sizing: border-box;
    background: url("../images/herbs.jpg");
    background-size: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFF;
    text-align: justify;
    margin-top: 0px;
}
#heading h1 {
    font-size: 120%;
    padding-left: 10px;
}
#heading li {
    color: #006400;
    font-size: 0.6em;
    background: #E9E9E9;
    margin: 10px;
    list-style-type: square;
}
#description {
    width: 90%;
    text-align: justify;
}
#description a {
    text-decoration: none;
    color: #C06112;
    font-weight: bold;
}
#wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#push {
    height: 900px;
}